
.sidebar {
    width: 30%;
    border-right: 1px solid #ddd;
    padding: 10px;
    overflow-y: auto;
  }
  
  .sidebar h2 {
    margin: 10px 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
  }
  
  .sidebar ul li:hover {
    background-color: #f0f0f0;
  }
  .user-item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
  }
  .profileInfo{
    display: flex;
    flex-direction: column ;
    align-items: center;
  }
  .userName{
    line-height: 1px;
  }
  .email{
    line-height:1px ;
  }
  .profile-image-user{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
  }
.group{
  display: flex;
  align-items: center;
  gap: 13px;
  text-align: center;
  justify-content: center;
}
.add-icon {
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-icon:hover {
  color: #1976d2; /* Change color on hover */
  transform: scale(1.1); /* Slightly increase size */
}